body{
            background-color:saddlebrown;
        }
        h1{
            color:burlywood;
            font-family:verdana;
            text-decoration:underline;
            text-align:center;
        }
        h2{
            color:lightcoral;
            font-family:verdana;
            text-decoration:underline;
        }
        p{
            font-size:20px;
        }
        #id01{
            color:goldenrod;
        }
        #id02{
         color:darksalmon;   
        }
        #id03{
            color:darkkhaki;
        }
        #id04{
            color:DarkTurquoise;
        }
        #id05{
            color:coral;
        }
        #id06{
            color:DarkSeaGreen;
        }